.searchbox-container{
 padding: 5px;
 margin: 0.5em 0px;
}

.searchbox-container>h2{
    font-family: "Rubik", sans-serif;
}

.searchbox-input-container{
    display: flex;
    
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.searchbox-input-container input{
    flex: 1;
    padding: 12px 10px;
    border: none;
    outline: none;
    font-size: 1.1em;
}
.searchbox-input-container button{
    background-color: var(--theme-green);
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px;
    font-size: 1.3em;
}