.sidenav-container {
    position: fixed;
    /* border: 2px solid red; */
    width: 230px;
    max-width: 230px;
    height: 89vh;
    margin-left: -10px;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px 2px #eee;
    transform: translateX(-300px);
    transition: .6s;
    z-index: 9999;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

.sidenav-container a{
    text-decoration: none;
    color: black;
    
}

.sidenav-container.open {
    transform: translateX(0px);
}

.sidenav-top {
    display: flex;
    justify-content: space-around;
}

.sidenav-top button {
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
}

.sidenav-center {
    flex: 1;
    margin-top: 10px;

}

.sidenav-link{
    /* border: 2px solid red; */
    border-bottom: 2px solid #eee;
    padding: 10px;
    display: flex;
}

.sidenav-bottom {
    margin-bottom: 20px;

}

.sidenav-contact-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 5px;
}

.sidenav-contact-container div{
    display: flex;
    margin: 5px 0px;
}

.sidenav-contact-container>div>span{
    margin-left: 12px;
    font-size: 13px;
    line-height: 25px;
}

.sidenav-socials-container{
    width: 80%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    color: var(--theme-green);
}