.topnav-container{
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 15px;

    max-height: 70px;
}

.topnav-logo-container{
    width: 40%;
}
.topnav-logo-container img{
    width: 100%;
}