.appointment-card-container{
    /* border: 2px solid red; */
    padding: 20px 10px;
    background-image: url(../../Images/topography-background.svg);
    background-size: contain;
    background-color: #022916;
    background-blend-mode:overlay;
    color: white;
    line-height: 30px;

    
}


@media only screen and (min-width: 830px) {
   
    .appointment-card-container {
        display: flex;
        font-size: 1.5em;
        padding: 10px 50px;align-items: center;
    }
    .appointment-card-container>h3{
        margin-left: 40px;
        font-size: 1.7em;
        letter-spacing: 3px;
    }
}