.contact-card-container{
   /* border: 2px solid red; */
   max-width: 1500px; 
   margin: 0px auto; 
   margin-top: -50px; 
   width: 90%; 
   z-index: 50; 
   min-height: 300px; 
   background-color: var(--theme-green);
   color: white;
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}

.address-summary{
   font-size: 2em;
}
.address-summary span{
   font-weight: 900;
}

.contact-card-section{
   margin-top: 1em;
}

.contact-card-section h5{
   margin: 0;
   margin-bottom: 5px;
   
}
.contact-card-section p{
   margin: 0 !important;
   color: #b3d1c2;
   
}

@media only screen and (min-width: 850px) {
   .contact-card-container{
      flex-direction: row;
      justify-content: center;
   }

   .address-summary{
      margin: 0;
   }

   .contact-card-container>div{
      margin-right: 15px;
   }

}