.blogdetails-item-container{

}

.blogdetails-image-container{

    margin-bottom: 10px;
    max-height:90vh; 
    overflow:hidden;
    display: flex;
    place-items: center; 
    
}
.related-post-container{
    padding: 10px 20px;

}

@media only screen and (min-width: 830px) {
    .blogdetails-item-container{
        padding: 20px;
    }
    
}