.carousel-container{
    /* border: 2px solid yellow; */
    height: 100% !important;
}

.carousel-slider{
    /* border: 2px solid green; */
    height: 100% !important;
     border: 2px solid rgb(192, 211, 192);
}

.carousel-item{
    height:  70vh;
    width: 100%;
    overflow: hidden !important;
    display: flex;
    justify-content: left;
}
.carousel-item img{
    object-position: left;
    height: 99%;
}