.testimonials-container{
    display: flex;
    /* border: 2px solid red; */
    overflow-x: scroll;
}
.testimonials-container .testimonial-card-container{
    flex: 1 0 60%;
}

@media only screen and (min-width: 930px) {
    .testimonials-container .testimonial-card-container{
        flex: 1 0 50%;
    }  
}